openapi: 3.0.0

info:
  title: チョコットランド計算機(非公式)
  description: |
    チョコットランド計算機 - 中間サーバ間通信のAPI仕様  
  version: 1.0.0

externalDocs:
  url: https://www.google.com/?hl=ja
  description: 設計資料(何か作ったらここにリンク貼る)

servers:
  - url: https://choco.calc.jp
    description: 本番API
  - url: https://stg.choco.calc.jp
    description: ステージングAPI

paths:
  /api/user:
    post:
      tags:
        - user
      summary: user情報読み込み

  /api/can:
    get:
      tags:
        - item
      summary: 魔獣缶を使用
      description: |
        魔獣缶を使用
      security:
        - bearerAuth: []
      parameters:
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CharacterInfo"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "408":
          $ref: "#/components/responses/RequestTimeoutError"
        "426":
          $ref: "#/components/responses/UpgradeRequiredError"
        "500":
          $ref: "#/components/responses/SystemError"
        "503":
          $ref: "#/components/responses/MaintenanceError"

  /api/vita/all:
    get:
      tags:
        - item
      summary: ALLビタを使用
  
  /api/vita/pow:
    get:
      tags:
        - item
      summary: POWビタを使用
  
  /api/vita/int:
    get:
      tags:
        - item
      summary: INTビタを使用
  
  /api/vita/spd:
    get:
      tags:
        - item
      summary: SPDビタを使用
  
  /api/vita/vit:
    get:
      tags:
        - item
      summary: VITビタを使用
  
  /api/vita/luk:
    get:
      tags:
        - item
      summary: LUKビタを使用
    
  /api/scroll:
    get:
      tags:
        - item
      summary: 巻物を使用

  /api/liquid/atk:
    post:
      tags:
        - item
      summary: アタークリキッドを使用
    
  /api/liquid/def:
    post:
      tags:
        - item
      summary: マモールリキッドを使用
    
  /api/liquid/mat:
    post:
      tags:
        - item
      summary: マホアタリキッドを使用
    
  /api/liquid/mdf:
    post:
      tags:
        - item
      summary: マホマモリキッドを使用
    
  /api/skill/special/eru:
    post:
      tags:
        - skill
      summary: 大天使の加護を使用
  
  /api/skill/special/fairyP:
    post:
      tags:
        - skill
      summary: 妖精王の祝福(物理)を使用

  /api/skill/special/fairyM:
    post:
      tags:
        - skill
      summary: 妖精王の祝福(魔法)を使用
    
  /api/skill/special/bene:
    post:
      tags:
        - skill
      summary: 祝福の蒼盾を使用
    
  /api/skill/special/fis:
    post:
      tags:
        - skill
      summary: 邪神の呪詛を使用
  
  /api/skill/special/sira:
    post:
      tags:
        - skill
      summary: 大妖怪の通力を使用
    
  /api/skill/special/retro:
    post:
      tags:
        - skill
      summary: スチームパンカーを使用

  /api/skill/bradscraper:
    get:
      tags:
        - skill
      summary: ブラッドスクレイパーを使用
    
  /api/manekin/main:
    get:
      tags:
        - manekin
      summary: メインマネキン読み込み
    post:
      tags:
        - manekin
      summary: メインマネキン登録
    put:
      tags:
        - manekin
      summary: メインマネキン修正
    delete:
      tags:
        - manekin
      summary: メインマネキン削除
  
  /api/manekin/sub:
    get:
      tags:
        - manekin
      summary: サブ装備マネキン読み込み
    post:
      tags:
        - manekin
      summary: サブ装備マネキン登録
    put:
      tags:
        - manekin
      summary: サブ装備マネキン修正
    delete:
      tags:
        - manekin
      summary: サブ装備マネキン削除
  
  /api/manekin/ava:
    get:
      tags:
        - manekin
      summary: アバマネキン読み込み
    post:
      tags:
        - manekin
      summary: アバマネキン登録
    put:
      tags:
        - manekin
      summary: アバマネキン修正
    delete:
      tags:
        - manekin
      summary: アバマネキン削除
    
  /api/equip:
    get:
      tags:
        - equip
      summary: DBから装備一覧取得(部位ごとにAPI追加する)
  
  /api/avater:
    get:
      tags:
        - avater
      summary: DBからアバ一覧取得(部位ごとにAPI追加する)

  /api/itembag/equip:
    get:
      tags:
        - itembag
      summary: アイテムバッグから装備一覧取得(部位ごとにAPI追加する)
    post:
      tags:
        - itembag
      summary: アイテムバッグに装備登録(部位ごとにAPI追加する)
    delete:
      tags:
        - itembag
      summary: アイテムバッグから装備削除(部位ごとにAPI追加する)
    
  /api/itembag/avater:
    get:
      tags:
        - itembag
      summary: アイテムバッグからアバ一覧取得(部位ごとにAPI追加する)
    post:
      tags:
        - itembag
      summary: アイテムバッグにアバ登録(部位ごとにAPI追加する)
    delete:
      tags:
        - itembag
      summary: アイテムバッグからアバ削除(部位ごとにAPI追加する)
    
  /api/optimize/atk:
    get:
      tags:
        - optimize
      summary: アイテムバッグ内で最高ATKになる組み合わせを計算
  
  /api/optimize/def:
    get:
      tags:
        - optimize
      summary: アイテムバッグ内で最高DEFになる組み合わせを計算
  
  /api/optimize/mat:
    get:
      tags:
        - optimize
      summary: アイテムバッグ内で最高MATになる組み合わせを計算
    
  /api/optimize/mdf:
    get:
      tags:
        - optimize
      summary: アイテムバッグ内で最高MDFになる組み合わせを計算
    
  /api/admin/login:
    post:
      tags:
        - admin
  
  /api/admin/db/equip:
    get:
      tags:
        - admin
      summary: 装備一覧取得
    post:
      tags:
        - admin
      summary: 装備登録
    put:
      tags:
        - admin
      summary: 装備修正
    delete:
      tags:
        - admin
      summary: 装備削除
      
  /api/admin/db/avater:
    get:
      tags:
        - admin
      summary: アバ一覧取得
    post:
      tags:
        - admin
      summary: アバ登録
    put:
      tags:
        - admin
      summary: アバ修正
    delete:
      tags:
        - admin
      summary: アバ削除
